.wapper-slide {
  position: relative;

  //slide-item
  .slide-item {
    display: block !important;
    img {
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
  }

  //indicators
  .slick-dots {
    bottom: 15px;
    left: 0;
    z-index: 10;
    width: 100%;

    li {
      display: inline-block;
      font-size: 0;
      width: 5px;
      height: 5px;
      background-color: #000;
      opacity: 0.2;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      cursor: pointer;

      button {
        width: inherit;
        height: inherit;
        padding: 0;

        &::before {
          content: none;
        }
      }
    }

    li+li {
      margin-left: 5px;
    }

    .slick-active {
      background-color: #fff;
      opacity: 1;
      width: 30px;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
    }
  }
}