.header-nav-main {
    background-color: var(--primary);
    height: 42px;

    ul {
        margin: 0;
        padding: 0;
    }

    .menu-mega .list_menu_header,
    .wapper-header-nav .header-nav .item-big .nav-item ul {
        position: absolute;
        z-index: 1000;
        background-color: var(--white);
        box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.04);
        overflow: hidden;
        opacity: 0;
        padding: 0;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }

    .menu-mega:hover>.list_menu_header,
    .wapper-header-nav .header-nav .item-big li.nav-item:hover>ul.item-small {
        overflow: visible;
        opacity: 1;
        transform: perspective(600px) rotateX(0deg);
        -webkit-transform: perspective(600px) rotateX(0deg);
        -moz-transform: perspective(600px) rotateX(0deg);
        -ms-transform: perspective(600px) rotateX(0deg);
        -o-transform: perspective(600px) rotateX(0deg);
    }

    /* menu-mega */
    .menu-mega {
        width: var(--width-menu-mega);
        position: relative;

        .title-menu {
            padding: 0px;
            position: relative;
            height: 42px;
            line-height: 42px;
            color: #fff;
            cursor: pointer;

            &::before {
                position: absolute;
                top: 12px;
                right: 20px;
                content: "";
                width: 1px;
                height: 20px;
                background: #fff;
            }

            .title {
                display: block;
                position: relative;
                font-size: 14px;
                font-weight: bold;
                color: #fff;
                line-height: 42px;
                padding-left: 25px;

                &::before {
                    position: absolute;
                    top: 18px;
                    left: 0;
                    content: "";
                    width: 15px;
                    height: 2px;
                    background: #fff;
                }

                &::after {
                    position: absolute;
                    top: 24px;
                    left: 0;
                    content: "";
                    width: 10px;
                    height: 2px;
                    background: #fff;
                }
            }
        }

        .list_menu_header {
            width: 273px;
            padding: 0px;
            opacity: 1;
            overflow: visible;
            transform-origin: top;
            transform: rotateX(-90deg);
            -webkit-transform: rotateX(-90deg);
            -moz-transform: rotateX(-90deg);
            -ms-transform: rotateX(-90deg);
            -o-transform: rotateX(-90deg);

            .ul-menu {
                background-color: var(--white);
                position: relative;
                padding: 0;
                margin: 0;
                border-top: 0px;

                .nav-item {

                    svg {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        font-size: 16px;
                        width: 24px;
                        line-height: 45px;
                        text-align: center;
                        color: inherit;
                        display: none;
                        padding: 10px 15px;
                    }

                    >a {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        display: block;
                        color: #323c42;
                        position: relative;
                        text-transform: none;
                        border-bottom: solid 1px transparent;
                        padding: 5.7px 35px 5.7px 40px;
                        background-repeat: no-repeat;
                        background-size: 25px;
                        background-position: center left;
                        background-position-x: 8px;
                        background-color: transparent;

                        svg {
                            display: block;
                            top: 10px;
                            right: 5px;
                            padding: 0;
                            transform: rotate(-90deg);
                            -webkit-transform: rotate(-90deg);
                            -moz-transform: rotate(-90deg);
                            -ms-transform: rotate(-90deg);
                            -o-transform: rotate(-90deg);

                        }
                    }

                    .ul-content-right-1 {
                        position: absolute;
                        top: 0;
                        left: 273px;
                        z-index: 1000;
                        padding: 15px 5px;
                        height: 100%;
                        width: 330%;
                        background-color: var(--white);
                        box-shadow: 4px 2px 10px 0px rgba(0, 0, 0, 0.1);
                        opacity: 0;
                        overflow: hidden;
                        display: none;

                        .nav-item {
                            position: relative;

                            h4 {
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 18px;
                                display: block;
                                padding: 0px 0px 3px 0px;
                                color: #323c42;

                                a {
                                    padding: 0;
                                    font-weight: bold;

                                    &:hover {
                                        color: #ffb416;
                                    }
                                }
                            }

                            &:hover {
                                background-color: var(--white);
                            }

                            .ul-content-right-2 {
                                width: 100%;
                                margin-bottom: 10px;
                                background-color: var(--white);

                                .nav-item {
                                    background-color: var(--white);
                                    width: 100%;

                                    a {
                                        display: block;
                                        font-weight: 400;
                                        font-size: 13px;
                                        line-height: 18px;
                                        color: #888;
                                        position: relative;
                                        margin-bottom: 5px;
                                        padding: 0;

                                        &:hover {
                                            color: #ffb416;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        background-color: #ffb416;

                        >a {
                            color: var(--white);

                            svg {
                                color: var(--white);
                            }
                        }

                        .ul-content-right-1 {
                            display: flex;
                            opacity: 1;
                            overflow: auto;
                        }
                    }
                }
            }
        }
    }

    /* header-nav */
    .wapper-header-nav {
        width: calc(100% - var(--width-menu-mega));


        .header-nav {
            >ul.item-big {
                text-align: left;
                margin: 0;
                padding: 0;

                a.caret-down {
                    &::before {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 5px 5px 0 5px;
                        border-color: #fff transparent transparent transparent;
                        top: 50%;
                        left: 100%;
                        margin-left: -15px;
                        margin-top: -2px;
                        transition: 0.5s;
                    }
                }

                >li.nav-item {
                    display: inline-block;
                    position: relative;
                    padding: 0px;
                    height: 42px;

                    >a {
                        display: block;
                        position: relative;
                        padding: 0px 20px;
                        font-size: 14px;
                        height: 42px;
                        line-height: 42px;
                        color: #fff;
                    }

                    svg {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        font-size: 16px;
                        width: 24px;
                        line-height: 45px;
                        text-align: center;
                        color: inherit;
                        display: none;
                        padding: 10px 15px;
                    }

                    >ul.item-small {
                        top: 100%;
                        left: 0;
                        width: 220px;
                        transform-origin: top;
                        transform: rotateX(-90deg);
                        -webkit-transform: rotateX(-90deg);
                        -moz-transform: rotateX(-90deg);
                        -ms-transform: rotateX(-90deg);
                        -o-transform: rotateX(-90deg);

                        li {
                            position: relative;

                            a {
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 24px;
                                display: block;
                                padding: 5px 20px 5px 10px;
                                color: #323c42;
                                position: relative;
                                border-bottom: solid 1px #e5e6ec;
                                text-align: left;
                            }

                            a.caret-down {
                                &::before {
                                    border-color: #323c42 transparent transparent transparent;
                                    transform: rotate(270deg);
                                }
                            }

                            ul {
                                top: 0;
                                left: 220px;
                                width: 250px;
                                transform-origin: left;
                                transform: rotateY(90deg);
                                -webkit-transform: rotateY(90deg);
                                -moz-transform: rotateY(90deg);
                                -ms-transform: rotateY(90deg);
                                -o-transform: rotateY(90deg);
                            }

                            &:hover {
                                >a {
                                    color: var(--link-color);
                                }

                                >a.caret-down {
                                    &::before {
                                        border-color: #ffb416 transparent transparent transparent;
                                        transform: rotate(90deg);
                                        -webkit-transform: rotate(90deg);
                                        -moz-transform: rotate(90deg);
                                        -ms-transform: rotate(90deg);
                                        -o-transform: rotate(90deg);
                                    }
                                }

                                ul {
                                    overflow: visible;
                                    opacity: 1;
                                    transform: rotateY(0deg);
                                    -webkit-transform: rotateY(0deg);
                                    -moz-transform: rotateY(0deg);
                                    -ms-transform: rotateY(0deg);
                                    -o-transform: rotateY(0deg);
                                }
                            }
                        }
                    }


                    &:first-child>a {
                        padding-left: 0;
                    }

                    &:last-child>a {
                        padding-right: 0;
                    }

                    &:hover {
                        >a {
                            color: var(--link-color);
                        }

                        >a.caret-down {
                            &::before {
                                border-color: #ffb416 transparent transparent transparent;
                                transform: rotate(180deg);
                                -webkit-transform: rotate(180deg);
                                -moz-transform: rotate(180deg);
                                -ms-transform: rotate(180deg);
                                -o-transform: rotate(180deg);
                            }
                        }

                    }
                }
            }
        }
    }

    .contact-bar {
        display: none;
    }
}

//
@media only screen and (max-width: 991px) {
    .header-nav-main {
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--white);
        width: 330px;
        height: 100vh;
        z-index: 9999;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        visibility: hidden;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;

        a {
            border: none !important;
        }

        .container {
            max-width: 100%;
            padding: 0;

            .header-menu {
                position: relative;
                height: calc(100vh - 60px);
                width: 100%;

                .wapper-nav {
                    display: block !important;
                    width: 100%;
                    overflow: hidden;
                    overflow-y: auto;
                    height: 100%;
                    padding-bottom: 50px;

                    // Menu-mega
                    .menu-mega {
                        width: 100%;

                        .title-menu {
                            width: 100%;
                            background-color: var(--primary);
                            padding: 0 10px;

                            &::before {
                                transform: rotate(45deg);
                                -webkit-transform: rotate(45deg);
                                -moz-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                -o-transform: rotate(45deg);
                            }

                            &::after {
                                position: absolute;
                                top: 12px;
                                right: 20px;
                                content: "";
                                width: 1px;
                                height: 20px;
                                background: #fff;
                                transform: rotate(-45deg);
                            }

                            .title {
                                font-size: 18px;
                                line-height: 41px;
                            }
                        }

                        .list_menu_header {
                            position: relative;
                            width: 100%;
                            transform: unset;
                            -webkit-transform: unset;
                            -moz-transform: unset;
                            -ms-transform: unset;
                            -o-transform: unset;
                            box-shadow: none;

                            .ul-menu {
                                li.nav-item {
                                    position: relative;
                                    width: 100%;
                                    background-color: var(--white);
                                    box-shadow: none;

                                    >a svg {
                                        display: none;
                                    }

                                    svg {
                                        display: block;
                                    }

                                    ul {
                                        display: none;
                                        position: relative;
                                        left: unset;
                                        top: unset;
                                        width: 100%;
                                        height: unset;
                                        opacity: 1;
                                        padding: 5px;
                                    }
                                }

                                li.current {
                                    background-color: #ffb416;

                                    >a {
                                        color: var(--white);
                                    }

                                    svg {
                                        color: var(--white);
                                        transform: rotate(180deg);
                                        -webkit-transform: rotate(180deg);
                                        -moz-transform: rotate(180deg);
                                        -ms-transform: rotate(180deg);
                                        -o-transform: rotate(180deg);
                                    }

                                    ul {
                                        display: block;
                                    }
                                }


                            }
                        }
                    }

                    // Header-nav
                    .wapper-header-nav {
                        width: 100%;
                        margin-top: 15px;
                        padding-top: 15px;
                        border-top: 1px solid #ebebeb;

                        .header-nav {
                            display: block;

                            .item-big {
                                .nav-item {
                                    height: unset;
                                    width: 100%;

                                    a {
                                        padding: 0 10px !important;
                                        color: #323c42;
                                        height: unset;
                                        line-height: 35px;
                                        border: none;

                                        &::before {
                                            content: none;
                                        }
                                    }

                                    svg {
                                        display: block;
                                    }

                                    ul {
                                        display: none;
                                        width: 100%;
                                        left: 0;
                                        opacity: unset;
                                        position: relative;
                                        transform: unset;
                                        -webkit-transform: unset;
                                        -moz-transform: unset;
                                        -ms-transform: unset;
                                        -o-transform: unset;
                                        padding-left: 10px;

                                        svg {
                                            transform: rotate(90deg);
                                            padding: 5px;
                                            top: 5px;
                                            right: 10px;
                                        }
                                    }
                                }

                                li.current {
                                    >a {
                                        color: #ffb416;
                                    }

                                    >svg {
                                        color: #ffb416;
                                        transform: rotate(180deg);
                                        -webkit-transform: rotate(180deg);
                                        -moz-transform: rotate(180deg);
                                        -ms-transform: rotate(180deg);
                                        -o-transform: rotate(180deg);
                                        transition: all 0.5s linear;
                                        -webkit-transition: all 0.5s linear;
                                        -moz-transition: all 0.5s linear;
                                        -ms-transition: all 0.5s linear;
                                        -o-transition: all 0.5s linear;
                                    }

                                    >ul {
                                        display: block;
                                    }
                                }

                                .item-small li.current {
                                    svg {
                                        transform: rotate(-90deg);
                                        -webkit-transform: rotate(-90deg);
                                        -moz-transform: rotate(-90deg);
                                        -ms-transform: rotate(-90deg);
                                        -o-transform: rotate(-90deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .contact-bar {
                position: fixed;
                left: 0px;
                bottom: 0px;
                width: 100%;
                background-color: var(--white);
                z-index: 9999;
                padding-top: 10px;
                padding-bottom: 20px;
                border-top: 1px solid #ebebeb;

                .incontact {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .contact-phone {
                        display: inline-flex;
                        align-items: center;
                        line-height: 20px;

                        .icon {
                            width: 30px;
                            height: 30px;
                        }

                        .title {
                            p {
                                margin: 0;
                            }

                            a {
                                font-size: 18px;
                                color: var(--primary);
                                font-weight: bold;
                            }
                        }
                    }

                    .contact-phone+.contact-phone {
                        margin-left: 25px;
                    }
                }
            }
        }
    }

    .header-nav-main.current {
        visibility: visible;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@media only screen and (max-width: 767px) {
    .header-nav-main {
        width: 100vw;
    }
}