.footer {
    background-color: #24272e;
    padding-top: 45px;

    h4 {
        font-size: 14px;
        text-transform: uppercase;
        color: var(--white);
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    ul {
        padding: 0;
        padding-top: 25px;

        li {
            color: #8b8e96;
            line-height: 24px;
            font-size: 14px;
        }
    }

    a {
        color: #8b8e96;
        font-size: 14px;

        &:hover {
            color: #ffb416;
        }
    }

    /*first-footer*/
    .first-footer {
        padding-bottom: 20px;

        hr {
            border-bottom: 1px solid #373a43;
        }

        // .list-menu {
        //     .item-menu {}
        // }
    }

    /*child-footer*/
    .child-footer {
        .mail-footer {
            width: 100%;
            min-height: 50px;
            margin-top: 20px;

            .input-group {
                display: flex;
                align-items: center;

                .groupiput {
                    width: 100%;
                    border: none;

                    input {
                        height: 40px;
                        border-radius: 0;
                        line-height: 40px;
                        margin-bottom: 0px;
                        float: left;
                        width: 100%;
                        padding: 0 20px;
                        background-color: #fff;
                        border-color: #fff;
                        font-size: 14px;
                        color: #323c42;
                        border: none;

                        &:focus-visible {
                            outline: none;
                        }
                    }
                }

                .subscribe {
                    display: inline-block;
                    padding: 0 15px;
                    border-radius: 0 !important;
                    background-color: #eb3e32;
                    margin-left: 0px;
                    font-size: 14px;
                    color: #fff;
                    border: solid 1px #eb3e32;

                    button {
                        height: 38px;
                        line-height: 38px;
                        padding: 0;
                        width: 100%;
                        border: none;
                        color: #fff;
                        background-color: var(--primary);
                    }
                }
            }
        }

        .socal-media-footer {
            padding-top: 5px;

            .social-buttons {
                .social-button {
                    display: inline-block;
                    position: relative;
                    background-color: #fff;
                    width: 40px;
                    height: 40px;
                    line-height: 36px;
                    margin-right: 5px;
                    text-align: center;
                    overflow: hidden;
                    opacity: .99;
                    border-radius: 0;
                    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
                    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);

                    &::before {
                        content: '';
                        background-color: #000;
                        width: 80px;
                        height: 80px;
                        position: absolute;
                        top: 90%;
                        left: -110%;
                        transform: rotate(45deg);
                        transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
                    }

                    &:hover::before {
                        top: -10%;
                        left: -10%;
                    }


                    svg {
                        font-size: 18px;
                        vertical-align: middle;
                        transform: scale(0.8);
                        transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
                    }

                    &:hover svg {
                        color: #fff !important;
                        transform: scale(1);
                    }
                }

                .social-button.facebook {
                    &::before {
                        background-color: #0f8ef2;

                    }

                    svg {
                        color: #0f8ef2;
                    }
                }


                .social-button.twitter {
                    &:before {
                        background-color: #3CF;
                    }

                    svg {
                        color: #3CF;
                    }
                }

                .social-button.google {
                    &:before {
                        background-color: #e94235;
                    }

                    svg {
                        color: #e94235;
                    }
                }

                .social-button.youtube {
                    &:before {
                        background-color: #ff0000;
                    }

                    svg {
                        color: #ff0000;
                    }
                }
            }
        }
    }

    /*copy-right*/
    .copy-right {
        color: #8b8e96;
        font-size: 13px;

        .inner {
            border-top: 1px solid #373a43;
            padding: 15px 0;
            margin-top: 20px;

            a {
                color: var(--white);
                font-size: 13px;

                &:hover {
                    color: #ffb416;
                }
            }

            ul {
                display: inline-flex;
                margin: 0;
                padding: 0;

                li {
                    +li {
                        margin-left: 20px;
                    }

                    a {
                        color: #8b8e96;
                        font-size: 13px;
                    }
                }
            }
        }

    }
}