.wapper-sidebar {
    margin-top: 0;
    position: relative;
    z-index: 9;

    .wapper-bg-sidebar {
        box-shadow: 0px 3px 25px 0px rgba(31, 38, 67, 0.1);

        .category-collection {
            margin-bottom: 20px;

            h4 {
                text-transform: none;
                font-size: 16px;
                font-weight: bold;
                padding: 10px 10px 0;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                max-height: 365px;
                overflow: hidden;
                overflow-y: visible;

                /* width */
                &::-webkit-scrollbar {
                    width: 5px;
                }


                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(22, 24, 35, 0.1);
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background-color: var(--primary)
                }

                li {
                    &:hover {
                        background-color: #ffb416;
                    }

                    a {
                        display: block;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        color: #323c42;
                        position: relative;
                        text-transform: none;
                        border-bottom: solid 1px transparent;
                        padding: 5.7px 35px 5.7px 40px;
                        background-repeat: no-repeat;
                        background-size: 25px;
                        background-position: center left;
                        background-position-x: 8px;
                        background-color: transparent;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .aside-filter {
        background-color: transparent;
        margin-bottom: 20px;

        .module-filter {
            h2 {
                font-size: 18px;
                line-height: 20px;
                color: #fff;
                background-color: var(--primary);
                margin: 0 0 20px;
                padding: 5px 10px;

                span {
                    display: block;
                    font-size: 12px;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }

        .filter-container {
            width: 100%;
            margin-bottom: 0;
            padding: 10px;
            overflow: hidden;

            .select-filter {
                margin-bottom: 10px;
                padding-bottom: 5px;
                border-bottom: 1px solid #eee;
                width: 100%;

                .select-filter-header {
                    margin-bottom: 5px;
                    display: flex;
                    justify-content: space-between;

                    span {
                        font-size: 16px;
                        font-weight: bold;
                        color: #0038ae;

                        svg {
                            padding-right: 5px;
                        }
                    }

                    .clear-all {
                        color: #333;
                        margin-top: px;

                        svg {
                            padding-left: 5px;
                        }
                    }
                }

                .select-filter-list {
                    ul {
                        padding-left: 0;
                        overflow: hidden;
                        margin-bottom: 10px;

                        li {
                            display: inline-block;
                            padding: 0 7px;
                            margin-bottom: 8px;
                            background-color: var(--primary);
                            color: #fff;
                            border-radius: 5px;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;

                            &+li {
                                margin-left: 10px;
                            }

                            button {
                                background-color: transparent;
                                color: #fff;

                                svg {
                                    padding-right: 5px;
                                }
                            }
                        }
                    }
                }
            }

            .aside-item {
                width: 100%;
                margin-bottom: 0;

                .aside-title {
                    position: relative;

                    h2 {
                        display: inline-block;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 24px;
                        letter-spacing: 0;
                        text-transform: none;
                        padding: 0;
                        margin: 0;

                        &.title-filter {
                            font-size: 14px;
                            font-weight: bold;

                            span {
                                font-size: 14px;
                            }
                        }

                        span {
                            display: inline-block;
                            color: #333;
                            text-decoration: none;
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                }

                .aside-content {
                    width: 100%;
                    position: relative;

                    ul {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

.filter-group {
    padding: 10px 0 0 0;
    position: relative;

    ul {
        max-height: 240px;
        overflow-y: auto;

        /* width */
        &::-webkit-scrollbar {
            width: 5px;
        }


        /* Handle */
        &::-webkit-scrollbar-thumb {
            background-color: rgba(22, 24, 35, 0.1);
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background-color: var(--primary)
        }
    }
}

.filter-item {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
    line-height: 28px;
    min-width: 100%;

    &* {
        cursor: pointer;
        color: #323c42;
        font-size: 14px;
        font-weight: 400;
    }

    label {
        padding-left: 45px;
        line-height: 15px;
        position: relative;
    }
}

.filter-item--check-box {
    input {
        display: block;
        width: 20px;
        height: 20px;
        z-index: 9;
        position: absolute;
        outline: none;
        opacity: 0;
        margin: 0;
        padding: 0;

        &:checked {
            &+.fa {
                &::before {
                    background-color: #ffb416;
                }

                &::after {
                    transform: translateX(100%);
                    -webkit-transform: translateX(100%);
                    -moz-transform: translateX(100%);
                    -ms-transform: translateX(100%);
                    -o-transform: translateX(100%);
                }
            }
        }

        &+span {
            &::before {
                background-color: #ffb416;
            }

            &::after {
                transform: translateX(100%);
                -webkit-transform: translateX(100%);
                -moz-transform: translateX(100%);
                -ms-transform: translateX(100%);
                -o-transform: translateX(100%);
            }
        }
    }

    .fa {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 14px;
        font-size: 14px;
        line-height: 40px;
        margin-right: 6px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 35px;
            height: 18px;
            line-height: 40px;
            font-size: 18px;
            margin-right: 5px;
            border: solid 0px #ebebeb;
            background-color: #ebebeb;
            border-radius: 18px;
            -webkit-border-radius: 18px;
            -moz-border-radius: 18px;
            -ms-border-radius: 18px;
            -o-border-radius: 18px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 1px;
            left: 1px;
            height: 16px;
            width: 16px;
            background-color: #fff;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
        }
    }
}

.filter-item--green {
    * {
        &:hover {
            color: #ffb416;
        }
    }
}